.main {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
    /* border: 1px red solid; */
    height: 100vh;
    color: white;
    background-color: rgba(57, 185, 19, 0.925);

}

.header {
    /* border: 1px red solid; */
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(34, 105, 6, 0.918);
}

    .mainlink {
        /* border: black 1px solid; */
        width: 100%;
        text-align:center;
        padding-right: 35px;
    }

    h1 {
        /* border: 1px green solid; */
        width: 25%;
        text-align: center;
        padding-right: 25px;
    }    

    .villains {
        /* border: 1px red solid; */
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }

        a {
            text-decoration: none;
            color: white;
        }

        .joker {
            /* border: 1px red solid; */
        }

        .riddler {
            /* border: 1px red solid; */
        }

        .scarecrow {
            /* border: 1px red solid; */
        }

        .lex {
            /* border: 1px red solid; */
        }

.bodycontent {
    /* border: 1px red solid; */
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(88, 238, 88); */
}

    .lextext {
        /* border: 1px red solid; */
        height: 75%;
        width: 75%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgba(214, 139, 236, 0.973);
        border-radius: 1000px;
    }

        .lexname {
            color: rgba(6, 15, 2, 0.952);
            font-size: 75px;
            /* border: 1px solid red; */
            width: 75%;
        }

        .lexlist {
            color: rgba(6, 15, 2, 0.952);
            font-size: 25px;
            /* border: 1px solid red; */
            width: 75%;
        }

.footer {
    /* border: 1px red solid; */
    height: 5%;
    width: 100%;
    background-color: rgba(6, 15, 2, 0.952);
}